.footer {  
  position: fixed;  
  left: 0px;  
  bottom: 0px;  
  right: 0px;
  height: 46px;
  width: 100%;  
  text-align: center; 
  background-color: #405d27; 
}

body {
  background-color:#3e4444;
  color: #82b74b;
}

a:link {
  color: #82b74b;
}

a:visited {
  color: #405d27;
}

a:hover {
  color: green;
}